@import "../../style/variables.scss";

.smallBoxThree {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  .name_box {
    font-size: 18px;
    font-weight: 500;
    color: $darkBlue;
  }
  .number_box {
    font-size: 36px;
    font-weight: 500;
    color: $darkBlue;
  }
  .title_box {
    font-size: 14px;
    font-weight: 400;
    color: #EE61CF;
  }
}
